/* google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--header-height: 3rem;

	/* colors */
	--first-color: #0c2642;
	--first-color-lighter: #a1e887;
	--title-color: #6a8d92;
	--text-color: #80b192;
	--body-color: #f5fffe;

	/* font & typography */
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 3rem;
	--big-font-size: 1.25rem;
	--normal-font-size: 1rem;

	/* font weight */
	--font-medium: 500;
	--font-semi-bold: 600;

	/* index */
	--z-tooltip: 10;
	--z-fixed: 100;
}

@media screen and (min-width: 1024px) {
	:root {
		--biggest-font-size: 5rem;
		--big-font-size: 2rem;
		--normal-font-size: 1.1rem;
	}
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1,
h2,
ul,
p {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* layout */
.main {
	position: relative;
}

.bd-container {
	max-width: 960px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
